.idea/
results/
analyzer.tab.cpp
analyzer.tab.hpp
cmake-build-debug/
*.zip
/test/compiler/programs/t1.ll
/test/compiler/programs/t2.ll
/test/compiler/programs/t3.ll
/test/compiler/programs/t4.ll
/test/compiler/programs/t5.ll
/test/compiler/programs/t6.ll
/test/compiler/programs/t7.ll
/test/compiler/programs/t8.ll
/test/compiler/programs/t9.ll
/test/compiler/programs/t10.ll
/test/compiler/programs/t11.ll
/test/compiler/programs/t12.ll
/test/compiler/programs/t13.ll
/test/compiler/programs/t14.ll
/test/compiler/programs/t15.ll
/test/compiler/output/t1.res
/test/compiler/output/t2.res
/test/compiler/output/t3.res
/test/compiler/output/t4.res
/test/compiler/output/t5.res
/test/compiler/output/t6.res
/test/compiler/output/t7.res
/test/compiler/output/t8.res
/test/compiler/output/t9.res
/test/compiler/output/t10.res
/test/compiler/output/t11.res
/test/compiler/output/t12.res
/test/compiler/output/t13.res
/test/compiler/output/t14.res
/test/compiler/output/t15.res
/poetry.lock
/.vscode/settings.json
/bin/hw3
